<div class="container mt-4">
    <div class="row">
        <div class="col">

            <p class="h3 fw-bold text-primary"><i class="fa fa-plus-circle" > &nbsp;</i> Add Contact</p>
            <p class="fst-italic">
                When the real estate broker came in his jaw dropped. The house looked amazing. It almost felt like the
                home of a royal family. From the outside this house looks plain and ordinary but as soon as you pass the
                threshold it feels like you have entered a different world altogether.
            </p>
        </div>
    </div>
</div>
<!-- Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo url">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Email Id">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Mobile No">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value=""> Select a Group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="text" class="btn btn-success" value="Create">
                    <a routerLink="/" class="btn btn-warning ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="https://www.bing.com/th?id=OIP.uuLTfEMXFApAiu9mcTRhhgHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="" class="contact-img">
        </div>
    </div>
</div>